:root {
  --colorMain: #262626;
  --NeutralBlack: #1C1C1C;
  --Gray800: #454545;
  --White: #FFFFFF;
  --Yellow500: #F0B90B;
  --Gray500: #4a4a4a;
  --font-inter: 'Inter', sans-serif;
  --font-ibm: 'IBM Plex Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-ibm);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}