/* Movie Layout component styles */

.moviesListContainer {
    min-height: 380px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.moviesListContainer > h3{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--White);
}

.moviesLayout{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    overflow: hidden;
}

@media screen and (min-width: 1024px){
    .moviesLayout{
        flex-direction: row;
    }
    
}

.moviesContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--Gray500);
    width: 100%;
    padding: 28px 0px 28px 28px;
}

.moviesSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.moviesSection h3{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--White);
}

.moviesList{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
    padding-bottom: 20px;
    overflow-x: scroll;
    cursor: grab;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.moviesList::-webkit-scrollbar { 
    display: none; 
}


/* Movie template styles */

.movieTemplate{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
}

.movieTemplateImage{
    width: 100%;
    height: 233px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px 8px 0px 0px;
    pointer-events: none;
    cursor: pointer;
}

.movieTemplateInfo{
    display: flex;
    flex-direction: column;
    background-color: var(--colorMain);
    border-radius: 0px 0px 8px 8px;
    padding: 12px 8px;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.movieTemplateTitle{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--White);
    font-family: var(--font-inter);
    text-align: left;
    align-self: flex-start;
}

.movieTemplateRelease{
    font-size: 11px;
    line-height: 10px;
    font-weight: 400;
    color: var(--White);
    font-family: var(--font-inter);
    text-align: left;
    align-self: flex-start;
}

.movieTemplateActions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.movieTemplateRating{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-inter);
    gap: 12px;
}

.movieTemplateRating > p{
    font-size: 11px;
    line-height: 10px;
    font-weight: 400;
    color: var(--White);
    font-family: var(--font-inter);
}

.movieTemplateFavorite{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.movieTemplateFavorite > p{
    font-size: 11px;
    line-height: 10px;
    font-weight: 400;
    color: var(--White);
    font-family: var(--font-inter);
}

.movieTemplateFavorite > svg{
    width: 28px;
    height: 28px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

/* Movie banner component styles */

.bannerMovies{
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 600px;
    width: 100%;
    align-items: flex-end;
    overflow: hidden;
}

.bannerImage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.bannerImage::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000 0%, #666666 100%);
}

.bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    position: relative;
    z-index: 5;
    width: 100%;
    gap: 20px;
}

.bannerText{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bannerText > h2{
    font-size: 35px;
    line-height: 39px;
    color: var(--White);
    font-weight: 700;
}

.bannerText > p{
    font-size: 14px;
    line-height: 18px;
    color: var(--White);
    font-weight: 700;
}

.bannerElements{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 40px;
}

@media screen and (min-width: 768px){

    .bannerText{
        max-width: 70%;
    }

    .bannerContent{
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px){
    .bannerMovies{
        min-height: 486px;
    }

    .bannerText > p{
        font-size: 20px;
        line-height: 24px;
    }
    
}

/* Movie pagination styles */

.pagination{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.pagination > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 22px;
    background-color: var(--Yellow500);
    color: var(--Black);
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.pagination > button:hover{
    background-color: var(--White);
}

.pagination > span{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--White);
}

/* Cast styles */

.castSection{
    display: flex;
    flex-direction: column;
    background-color: var(--Black);
    padding: 32px 5% 60px;
    gap: 30px;
}

.castSection > h3{
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    color: var(--White);
}

.castList{
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    cursor: grab;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.castList::-webkit-scrollbar { 
    display: none; 
}

.castMember{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    min-width: 200px;
}

.castMember img{
    pointer-events: none;
}

.castMember p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--White);
}

.trailerSection{
    display: flex;
    flex-direction: column;
    background-color: var(--Yellow500);
    padding: 32px 5% 60px;
    gap: 30px;
}

.trailerSection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.trailerSection > div > h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--Black);
    font-family: var(--font-inter);
}

.trailerSection > div > iframe{
    width: 100%;
    max-width: 800px;
    height: 450px;
    aspect-ratio: 16/9;
}

@media screen and (min-width: 1224px) {
    .trailerSection > div{
        flex-direction: row;
    }

    .trailerSection > div > h3{
        font-size: 80px;
        line-height: 90px;
    }
}